.controls {
  position: absolute; top: 0; right: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 70vw;
  height: 10vh;
  z-index: 999;
}

label {
  display: flex;
  align-items: center;
}

input, select {
  margin-left: 15px;
}